<p>product works!</p>
<table border="1">
    <tr>
        <td>
            id
        </td>
        <td>
           title
        </td>
      <td>
        price
      </td>

        <td>
          quantity
        </td>
        <td>
           action
        </td>
    </tr>
    <tr *ngFor="let p of filteredProducts()">
      <td>{{ p.id }}</td>
      <td>{{ p.title }}</td>
      <td>{{ p.price }}</td>

      <td>{{p.quantity }}</td>
      <td>
        <input type="button" value="buy" (click)="buy(p)">
      </td>
    </tr>
  </table>
  <input type="search" placeholder="type price..." [(ngModel)]="price" />
